<h1>Configuración del CPE</h1>
<hr>
<div class="row" routerLinkActive="active">
  <div class="col">
    <div class="card" style="width: 15rem; margin-top: 25px;">
      <button [routerLink]="['/wifi']" class="btn btn-outline-dark">
        <img class="card-img-top img-fluid" src="/assets/wifi.png">
      <div class="card-body">
        <h5 class="card-title">WiFi</h5>
      </div>
        </button>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem; margin-top: 25px;">
      <button [routerLink]="['/puertos']" class="btn btn-outline-dark">
      <img class="card-img-top img-fluid" src="/assets/puertos.png">

      <div class="card-body">
        <h5 class="card-title">Puertos</h5>
      </div>
      </button>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem; margin-top: 25px;">
      <button [routerLink]="['/red-local']" class="btn btn-outline-dark">
      <img class="card-img-top img-fluid" src="/assets/red-local.png">

      <div class="card-body">
        <h5 class="card-title">Red local</h5>
      </div>
        </button>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 15rem; margin-top: 25px;">
      <button [routerLink]="['/mantenimiento']" class="btn btn-outline-dark">
      <img class="card-img-top img-fluid" src="/assets/mantenimiento.png">

      <div class="card-body">
        <h5 class="card-title">Mantenimiento</h5>
      </div>
        </button>
    </div>
  </div>
</div>