<div class="row">
  <div class="p-3 mb-2 bg-app text-white col">Configuración del Wi-Fi</div>
</div>
<div *ngIf="actualizado" class="alert alert-success">
  <strong>Actualizado correctamente</strong>
  <br>
</div>
<form (ngSubmit)="guardar()" #forma="ngForm">
  <div class='form-group row'>
    <div class="col">
      <label class="col-form-label">SSID: </label>
    </div>
    <div class="col-8">
      <input class="form-control" type="text" [(ngModel)]="instalacion.SSID" name="SSID">
    </div>
  </div>
  <div class='form-group row'>
    <div class="col">
      <label class="col-form-label">Contraseña: </label>
    </div>
    <div class="col-8">
      <input class="form-control" type="text" [(ngModel)]="instalacion.contrasena_wifi" name="contrasena_wifi" />
    </div>
  </div>
  <br>
  <div class='form-group row'>
    <div class=" col ">
      <button type="submit" class="btn success">
            Guardar
          </button>
    </div>
    <div class="col " routerLinkActive="active">
      <button type="button" class="btn success" [routerLink]="['/home-clientes']">
            Cancelar
          </button>
    </div>
  </div>

</form>