<div class="row">
  <div class="p-3 mb-2 bg-app text-white col">Reiniciar router</div>
</div>
<hr>
<div class="row">
  <button type="button" class="btn success" (click)="reiniciar()">
    Reiniciar
  </button>
</div>
<br>
<div class="row">
  <div class="p-3 mb-2 bg-app text-white col">Resetear a valores de fábrica</div>
</div>
<hr>
<div class="row">
  <button type="button" class="btn success" (click)="resetear()">
    Resetear
  </button>
</div>
<br>
<div class="row">
  <div class="p-3 mb-2 bg-app text-white col">Actualizar firmware</div>
</div>
<hr>
<div class="row">
  <button type="button" class="btn success" (click)="actualizar()">
    Actualizar
  </button>
</div>