<table class="table table-hover">
  <thead>
    <tr class="p-3 mb-2 bg-app text-white col">
      <th>Cliente</th>
      <th>ID</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let k of instalaciones | keys ">
      <td> <a [routerLink]="['/cliente', instalaciones[k].ID_cliente]" style='text-decoration: none; color: inherit;'>{{instalaciones[k].nombre}} {{instalaciones[k].apellidos}} </a></td>
      <td><a [routerLink]="['/cliente', instalaciones[k].ID_cliente]" style='text-decoration: none; color: inherit;'>{{instalaciones[k].ID_cliente}} </a> </td>
      <td>
        <div>
          <a [routerLink]="['/cliente', instalaciones[k].ID_cliente]" title='Ver' style='color: #003399;'><i class='fas fa-eye fa-fw' aria-hidden='true'></i></a>&nbsp;&nbsp;&nbsp;
          <a style='color: #cc0000' [routerLink]="['/cliente', instalaciones[k]]" title='Borrar' (click)=' borrar(instalaciones[k])'><i class='far fa-trash-alt fa-fw'></i></a>
        </div>
      </td>
    </tr>
  </tbody>

</table>

<script type='text/javascript'>
  // confirm record deletion
  function delete(instalacion) {

    var answer = confirm('¿Está seguro que desea eliminar este cliente?');
    if (answer) {
      // if user clicked ok,
      borrar(instalacion);
    }
  }
</script>