.main-container{
  margin-top: 50px;
  margin-bottom: 100px;
}

.bg-app{
  background-color: #003399;
}

.btn {
  border: 2px solid #003399;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.btn-confirm {

  background-color: #F7D358;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.btn-n {
  border: 2px solid white;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #003399;
  color: #003399;
}

.success:hover {
  background-color: #003399;
  color: white;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #003399; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a.card-block { color: black; }
